<nav class="navbar  has-background-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <p class="title is-1 has-text-white">
      <a class="navbar-item" href='/'>Seeker</a></p>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" href='/' >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-ghost" href="/statistics">
            View Statistics
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-ghost" href="/articles">
            All Articles
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-ghost" href="/sidekiq">
            See Background Tasks
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/admin">
            Admin
          </a>
        </div>
      </div>
    </div>
  </nav>
