<div class="table-responsive statistics_table">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Term</th>
        <th class="result_count">Search count</th>
        <th class="result_count">Average results</th>
        <th class="result_count">Zero results count</th>
      </tr>
    </thead>

    <tbody>
      <% @searches.each do |search| %>
        <tr>
          <td><%= search.term %></td>
          <td><%= search.count %></td>
          <td><%= search.article_count / search.count %></td>
          <td><%= search.zero_article_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>